x-common: &common
  env_file:
    - .env

  environment:
    DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgbouncer:5432/${POSTGRES_DB}

  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

  networks:
    - main

services:
  api:
    <<: *common
    build: .
    ports:
      - "8009:8000"
    command:
      - gunicorn
      - delivery.http.app:wsgi
      - --workers=4
      - --bind=0.0.0.0
      - --timeout=120
    depends_on:
      - pgbouncer
      - migrations
      - collectstatic
    restart: always
    networks:
      - main

  bot:
    <<: *common
    build: .
    command: python -m delivery.bot
    depends_on:
      - pgbouncer
      - migrations
    restart: always
    networks:
      - main

  db:
    image: postgres:18
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_INITDB_ARGS: --auth=md5
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - main

  pgbouncer:
    image: edoburu/pgbouncer:latest
    restart: unless-stopped
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - POOL_MODE=session
      - MAX_CLIENT_CONN=1000
      - DEFAULT_POOL_SIZE=20
      - MIN_POOL_SIZE=5
      - RESERVE_POOL_SIZE=5
      - RESERVE_POOL_TIMEOUT=5
      - SERVER_RESET_QUERY=DISCARD ALL
      - SERVER_CHECK_QUERY=select 1
      - LOG_CONNECTIONS=1
      - LOG_DISCONNECTIONS=1
      - LOG_POOLER_ERRORS=1
      - STATS_PERIOD=60
      - AUTH_TYPE=md5
    volumes:
      - pgbouncer-data:/var/lib/pgbouncer
    networks:
      - main

  migrations:
    <<: *common
    build: .
    command: python manage.py migrate --noinput
    depends_on:
      - pgbouncer
    networks:
      - main

  collectstatic:
    <<: *common
    build: .
    command: python manage.py collectstatic --noinput
    depends_on:
      - pgbouncer
    networks:
      - main

networks:
  main:
    ipam:
      driver: default

volumes:
  postgres-data:
  pgbouncer-data:
