aiogram==3.22.0
boto3==1.41.0
cachetools==6.2.2
celery==5.5.3
celery-types==0.23.0
colorlog==6.10.1
dj_database_url==3.0.1
Django==5.2.8
django-axes[ipware]==8.0.0
django-cors-headers==4.9.0
django-silk==5.4.3
django-split-settings==1.3.2
django-storages==1.14.5
django_redis==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
gunicorn==23.0.0
psycopg[c]==3.2.13
pyjwt==2.10.1
python-dotenv==1.2.1
pytz==2025.2
redis==7.1.0
sentry-sdk==2.45.0
