x-common: &common
  image: myproject:local

  env_file:
    - ../.env

  environment:
    DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@pgbouncer:5432/${POSTGRES_DB}

  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

  networks:
    - main

include:
  - docker-compose.infra.yaml

services:
  builder:
    image: myproject:local
    build:
      context: ..
      dockerfile: docker/Dockerfile

  api:
    <<: *common
    ports:
      - "8009:8000"
    command:
      - gunicorn
      - delivery.http.app:wsgi
      - --workers=4
      - --bind=0.0.0.0
      - --timeout=120
    depends_on:
      - pgbouncer
      - migrations
      - collectstatic
    restart: always

  bot:
    <<: *common
    command: python -m delivery.bot
    depends_on:
      - pgbouncer
      - migrations
    restart: always

  migrations:
    <<: *common
    command: python manage.py migrate --noinput
    depends_on:
      - pgbouncer

  collectstatic:
    <<: *common
    command: python manage.py collectstatic --noinput
    depends_on:
      - pgbouncer
