site_name: myproject
site_url: https://example.com
site_description: Django + aiogram + Celery application with dependency injection
repo_url: https://github.com/MaksimZayats/aiogram-django-template
repo_name: MaksimZayats/aiogram-django-template

docs_dir: en
site_dir: ../site

theme:
  name: material
  features:
    - navigation.sections
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - tables
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MaksimZayats
      name: GitHub
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/maksimzayats/
      name: LinkedIn
